body{
    background-color: #111;
    margin:0
}

.transparent_nav{
    position: sticky;
    top : 0;
    background-color: #fff;
    opacity: 0.7;
}
.nav_bar{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    max-height: 60px;
}

.nav_bar > img{
    max-height: 60px;
}

#nav_list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-basis: 30%;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    color: #693;
}

#bill{
    margin-top: 5px;
    width: 100%;
}

.cta{
    position: relative;
    top: -55px;
    font-size: 30px;
    background-color: #fff;
    opacity: 0.7;
}
#cta_text{
    display: inline;
    margin: 5px 50px;
}

#cta_link{
    display: inline;
    float: right;
    margin: 0px 50px;
}

.services_wrapper{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
}

.services_wrapper > ul{
    display:flex;
    flex-flow: rom nowrap;
    justify-content: space-between;
}

.services_wrapper li{
    max-width: 400px;
    list-style: none;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
}

.recent_work img{
    max-width:19%;
    display:inline;
}

.testimonials_wrapper{
    display:flex;
    flex-flow: rom nowrap;
    justify-content: space-between;
}

.testimonials_wrapper ul{
    display:flex;
    flex-flow: rom nowrap;
    justify-content: space-evenly;
}

.testimonials_wrapper ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
    margin: 10px;
}

.recent_work img:hover{
  transform: scale(1.1);
  transition: transform .2s;
}

footer{
    background-color: #333;
}

footer_widget{
    display:flex;
    flex-flow: rom nowrap;
    justify-content: space-around;
}
footer_widget div{
    max-width: 25%;
}
footer_widget li{
    list-style: none;
}

.rights{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
}