.transparent_nav{
    position: sticky;
    top : 0;
}
.nav_bar{
    background-color: rgba(69,69,69, 0.7);
}

#nav_list li{
    list-style:none;
    display:inline;
    float: right;
    min-width: 200px;
    padding: 20px;
}
.cta{
    font-size: 30px;
    background: rgba(96,96,96, 0.7);
}

.services_wrapper li{
    display: inline-block;
    max-width: 400px;
}

.recent_work img{
    max-width:20%;
    display:inline;
}

.testimonials_wrapper ul li{
    display: inline-block;
    max-width: 30%;
    margin: 10px;
}

.recent_work img:hover{
  transform: scale(1.1);
  transition: transform .2s;
}

.testimonials_wrapper li{
    display:inline;
    max-width:30%;
}

footer_widget div {
    display: inline-block;
    max-width: 300px;
    margin: 50px;
    background: #969696
}
